.footer
{
    color: grey;
    padding: 2.2 rem 1.1rem;
    font-size: 0.88rem;

    a {
        text-decoration: none;
        color: inherit;
    }
    &__socials {
        margin-left: -0.22rem;
        padding: 1.1rem;
        .footer__social {
            margin-right: 1.1rem;
            svg {
                font-size: 2.2rem;
            }
        }
    }
    &__links {
        display:flex;
        flex-wrap: wrap;
        list-style: none;
        .footer__link {
            flex: 1 0 50%;
            margin-bottom: 1.1rem;
            @media screen and (min-width:768px) {
                flex: 1 0 25%;
            }
        }
    }
    
}