.row {
    padding: 4%;
    color: #FFF;

    &__title {
        font-size: 1.7rem;
        padding: 0 0.5rem;
    }
    &__images {
        display: flex;
        align-items: center;
        overflow-x: visible;
        overflow-y: hidden;
        width: 100%;
        padding: 0.5rem 0;

        .row__image {
            width: 300px;
            padding: 0.5rem;
            transition: transform 0.3s ease-in;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }

        }
    }
}